/* Reset */
* {
    margin: auto 0;
}

.nav {
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: #8DCCBF;
}

.logo img {
    width: 200px;
}

.menu {
    margin-left: auto;
}

.botones {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.botones li {
    padding: 0 1rem;
    list-style: none;
    position: relative; /* Para el dropdown */
}

.botones a {
    text-decoration: none;
    background-color: #CCFFFF;
    padding: 5px;
    border: solid 1px #ffffff;
    border-radius: 6px;
}

.botones a:hover {
    background-color: #fff;
}

/* Dropdown styles */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #CCFFFF;
    min-width: 160px;
    top: 100%; /* Coloca el dropdown debajo del botón */
    left: 0;
    margin: 5px 8px 8px 16px;
    z-index: 1;
    border-radius: 6px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    padding: 0;
}

.dropdown-content li {
    padding: 0;
}

.dropdown-content a {
    padding: 10px;
    text-align: left;
    display: block;
}

.dropdown-content a:hover {
    background-color: #fff;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* Imagen de la fachada */
.img-fachada {
    width: 100%;
}

.img-fachada img {
    width: 100%;
    height: 93vh;
}

.container-flex {
    display: flex;
    flex-direction: row;
    margin-top: 2rem;
}

.container-servicios {
    max-width: 60%;
    padding: 1rem;
    margin: 0;
}

.container-contacto {
    display: flex;
    width: 80%;
    padding: 1rem;
    margin-right: 1rem;
    flex-direction: column;
    background-color: #CCFFFF;
    border-radius: 10px;
}

.container-contacto input {
    width: auto;
    margin: 1rem 0;
}

.container-contacto textarea {
    height: 5rem;
}

.container-contacto button {
    margin: 1rem 0;
    margin-left: auto;
    padding: 4px 2rem;
}

.servicios-flex{
    display: flex;
    flex-direction: row;
    margin-top: 2rem;
}

.container-urgencias{
    max-width: 60%;
    padding: 1rem;
    margin: 0;
    text-align: justify;
}
.container-laboratorio{
    text-align: justify;
    max-width: 60%;
    padding: 1rem;
    flex-direction: column;
}
.container-laboratorio img{
    margin: 30px 1px 1px 1px;
    width:500px;
    height: 270px;

}

.container-urgencias img{
    margin: 30px 1px 1px 1px;
    width: 500px;
    height: 270px;
}
